<span class="fa fa-spinner spinner" *ngIf="loading">

</span>

<!-- <nav class="navbar bg-dark">
    <a class="navbar-brand" [routerLink]="['/welcome']">{{pageTitle}}</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" [routerLink]="['/welcome']">
    {{pageTitle}}
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': navbarOpen }" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <li color="white" class="nav-item" *ngIf="isLoggedIn">
        <a class="text-light nav-link" [routerLink]="['/upload']">Upload</a>
      </li>

      <li color="white" class="nav-item" *ngIf="isLoggedIn">
        <a class="text-light nav-link" [routerLink]="['/browse']">Browse</a>
      </li>

      <li color="white" class="nav-item" *ngIf="isLoggedIn">
        <a class="text-light nav-link" [routerLink]="['/browse/settings']">Settings</a>
      </li>

      <li color="white" class="nav-item" *ngIf="!isLoggedIn">
        <a class="text-light nav-link" [routerLink]="['/login']">Log In</a>
      </li>
      <li color="white" class="nav-item" *ngIf="!!isLoggedIn">
        <a class="text-light nav-link" style="cursor:pointer;" (click)="logOut()">Log Out</a>
      </li>
    </ul>
  </div>

</nav>
<hr>
<div class="container">
  <router-outlet>
  </router-outlet>
</div>
