<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <h1 align="center">{{imageData?.text}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="resultview" align="center" class="mb-3" style="overflow: scroll; max-width: 750px; max-height: 400px;">
          <img *ngIf="imageData?.type !='video/mp4'" class='center-block img-responsive' src='{{imageData?.image_url}}' [title]='imageData?.text'
          style="width: 100%; height: auto; max-height: 400px;">
          <video src='{{imageData?.image_url}}' *ngIf="imageData?.type =='video/mp4'"
              controls="" style="width: 100%; height: auto; max-height: 300px;"></video>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <h5>Current focus:</h5>
        <h6 align="center">nothing</h6>
        <hr class="mt-2 mb-6">
      </div>
      <div>
        <h5>Controls:</h5>
        <hr class="my-2">
      </div>
      <div align="center">
        <button type="button" class="mr-2 my-2 btn btn-info">Play</button>
        <button type="button" class="mr-2 my-2 btn btn-info">Pause</button>
        <button type="button" class="mr-2 my-2 btn btn-info">Restart</button>
        <button type="button" class="mr-2 my-2 btn btn-info">Captions</button>
      </div>
      <div>
        <h5>Click to focus:</h5>
        <hr class="my-2">
      </div>
      <div align="center">
        <button type="button" class="mr-2 mt-2 btn btn-primary">Persons</button>
        <button type="button" class="mr-2 mt-2 btn btn-primary">Faces</button>
        <button type="button" class="mr-2 mt-2 btn btn-primary">Celebrities</button>
        <button type="button" class="mr-2 mt-2 btn btn-primary">Known Faces</button>
      </div>
    </div>
  </div>
</div>
